
/* Author: Mitwa Patel
Student ID: 000905034  */

body {
    background-color: #f8f9fa; 
}

header {
    background-color: #343a40; 
}

h1, h2 {
    color: #007bff; 
}

.card {
    transition: transform 0.2s; 
}

.card:hover {
    transform: scale(1.05); 
}

footer {
    background-color: #343a40; 
}

.text-primary {
    color: #007bff; 
}
